@font-face {
    font-family: 'Alegreya';
    src:
        local('Alegreya'),
        local('Alegreya-Regular'),
        url('../frontend/fonts/Alegreya-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya';
    src:
        local('Alegreya-Bold'),
        url('../frontend/fonts/Alegreya-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src:
        local('Roboto')
        local('Roboto-Regular'),
        url('../admin/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', serif;
}

h1, h2, h3, h4, h5, h6, th, nav {
    font-family: 'Alegreya', serif;
}

table#current {
    width: 100%;
    text-align: center;
}

table#current th {
    font-weight: normal;
    font-size: small;
    padding: 0;
}

table#current td {
    font-weight: bold;
    font-size: xx-large;
    padding: 0;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    margin-top: 70px;
    padding-bottom: 50px; /* this needs to be bigger than footer height*/
}

#header {
    text-align: center;
    margin-bottom: 2em;
}

#header p {
    margin: 0;
}

div.current {
    text-align: center;
}

h4.sensor {
    font-family: 'Alegreya', serif;
    font-size: small;
    font-weight: normal;
    margin-bottom: 0;
}

p.sensorValue {
    font-size: xx-large;
    font-weight: bold;
    line-height: 80%;
    margin: 0;
}

p.sensorUnit {
    font-size: x-small;
    font-weight: normal;
}

#timeline {
    width: 100%;
    margin-bottom: 2em;
}

#timeline_plot {
    border: 1px solid black;
    display: block;
}

footer {
    background-color: black;
    color: grey;
    text-align: center;
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear: both;
    padding-top: 0.5em;
    font-size: smaller;
}