SECRET_KEY=changeme
DEBUG=0
DJANGO_ALLOWED_HOSTS=your.domain.com
CSRF_TRUSTED_ORIGINS=https://your.domain.com

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=secret
SQL_HOST=db
SQL_PORT=5432

CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672/
CELERY_RESULT_BACKEND=rpc://

STATIC_ROOT=/static/

OBSERVER_NAME=My Observatory
OBSERVER_LONGITUDE=0.0
OBSERVER_LATITUDE=0.0
OBSERVER_ELEVATION=0.0
# WINDOW_TITLE=Weather at My Observatory

USE_INFLUX=1
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=your-token-here
INFLUXDB_ORG=your-org
INFLUXDB_BUCKET=weather
INFLUXDB_BUCKET_5MIN=weather_average
INFLUXDB_MEASUREMENT_AVERAGE=average
