astroplan==0.9.1
astropy==5.3.3
celery==5.3.4
Django==4.2.5
django-celery-beat==2.5.0
gunicorn==21.2.0
numpy==1.26.0
pandas==2.1.1
psycopg2-binary==2.9.8
redis==5.0.1
requests[socks]==2.31.0
influxdb_client==1.38.0
#mysqlclient==2.2.0
