table#current {
    width: 100%;
    text-align: center;
}

table#current th {
    font-weight: normal;
    font-size: small;
    padding: 0;
}

table#current td {
    font-weight: bold;
    font-size: xx-large;
    padding: 0;
}

#main {
    margin-top: 70px;
}

#header {
    text-align: center;
}

div.current {
    text-align: center;
}

h4.sensor {
    font-size: small;
    font-weight: normal;
    margin-bottom: 0;
}

p.sensorValue {
    font-size: xx-large;
    font-weight: bold;
    line-height: 80%;
    margin: 0;
}

p.sensorUnit {
    font-size: x-small;
    font-weight: normal;
}
