h3 {
    margin-top: 2em;
}

table#current {
    width: 100%;
    text-align: center;
}

table#current th {
    font-weight: normal;
    font-size: small;
    padding: 0;
}

table#current td {
    font-weight: bold;
    font-size: xx-large;
    padding: 0;
}

#main {
    margin-top: 70px;
}

#header {
    text-align: center;
}