{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-3 current">
            <div class="affix">
                <h3>Current</h3>
                <h4 class="sensor">Time</h4>
                <p class="sensorValue" id="time">&nbsp;</p>
                <p class="sensorUnit">UT</p>
                <h4 class="sensor">Overall</h4>
                <p class="sensorValue" id="good">&nbsp;</p>
                <p class="sensorUnit">&nbsp;</p>
                {% for type in value_types %}
                    <h4 class="sensor">{{ type.name }}</h4>
                    <p class="sensorValue" data-sensor-type="{{ type.code }}">&nbsp;</p>
                    <p class="sensorUnit">{{ type.unit }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <div id="header">
                <h2>{{ site }}</h2>
                <p>
                    {{ location.longitude }}, {{ location.latitude }}, {{ location.elevation|floatformat:0 }}m
                </p>
            </div>

            <div id="timeline">
                <span class="float-right" id="sunrise">sunrise</span>
                <span id="sunset">sunset</span>
                <canvas id="timeline_plot" width="100" height="20">
                </canvas>
                <div id="twilight">
                    <span class="float-right" id="sunrise_twilight">sunrise twilight</span>
                    <span id="sunset_twilight">sunset twilight</span>
                </div>
            </div>

            <h3>Plots for last 24h</h3>
            <canvas id="goodhistory" width="600" height="100"></canvas>
            {% for type in plot_types %}
                <canvas data-sensor-type="{{ type.code }}" data-sensor-label="{{ type.name }}"
                        class="plot" width="600" height="150"></canvas>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "frontend/js/vendor/chart.min.js" %}"></script>
    <script src="{% static "frontend/js/vendor/chartjs-plugin-annotation.min.js" %}"></script>
    <script src="{% static "frontend/js/vendor/chartjs-adapter-date-fns.bundle.min.js" %}"></script>
{% endblock %}
