{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-3 current">
            <div class="affix">
                <h3>Current</h3>
                {% for value in current %}
                    <h4 class="sensor">{{ value.sensor.type.name }}</h4>
                    <p class="sensorValue">{{ value.value|floatformat:1 }}</p>
                    <p class="sensorUnit">{{ value.sensor.type.unit }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <div id="header">
                <h2>{{ site }}</h2>
                <p>
                    Location: {{ location.longitude }} {{ location.latitude }},
                    Elevation: {{ location.elevation|floatformat:0 }}m
                </p>
            </div>

            <h3>Plots for last 24h</h3>
            {% for value in current %}
                <canvas data-sensor-type="{{ value.sensor.type.code }}" data-sensor-label="{{ value.sensor.type.name }}"
                        class="plot" width="600" height="150"></canvas>
            {% endfor %}
        </div>
    </div>

{% endblock %}