{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-3 current">
            <div class="affix">
                <h3>Current</h3>
                <h4 class="sensor">Time</h4>
                <p class="sensorValue" id="time">&nbsp;</p>
                <p class="sensorUnit">UT</p>
                {% for type in value_types %}
                    <h4 class="sensor">{{ type.name }}</h4>
                    <p class="sensorValue" data-sensor-type="{{ type.code }}">&nbsp;</p>
                    <p class="sensorUnit">{{ type.unit }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <div id="header">
                <h2>{{ site }}</h2>
                <p>
                    {{ location.longitude }}, {{ location.latitude }}, {{ location.elevation|floatformat:0 }}m
                </p>
            </div>

            <h3>Plots for last 24h</h3>
            {% for type in plot_types %}
                <canvas data-sensor-type="{{ type.code }}" data-sensor-label="{{ type.name }}"
                        class="plot" width="600" height="150"></canvas>
            {% endfor %}
        </div>
    </div>

{% endblock %}